
body{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2rem;
}

body{

    background-color: #F6A844;
}


h1 {

    padding-left: 600px ;

     }


     .photo{

        margin-left: 300px;
        width: 1000px;
        height: 600px;
     }

    
   